# cp1251
# *** SyMon Version 2.7 ( SMonitor ).
debug=Off	# default: Debug=On
# Другие параметры, если закомментированы или не указаны, считаются выключенными (default=Off)
# Если не указаны верхние параметры то все параметры что ниже теряют функционал полностью или частично.
#
# Параметры передачи данных на Zabbix-сервер
# zbxHost - Hostname из zabbix_agentd.conf
zbxHost=sm
#zbxServer=192.168.1.1
#zbxPort=10001
#
# Полный путь к сокету логгера SYGWIN SSH-сервера
#cygwin=C:\cygwin\dev\log
#
# Имя монитора пользовательского процесса, если не указан то работа пользователя не мониторится
# и все последующие параметры зависят от его функционала.
userProc=SMonitor.exe
#
# Разрешить работу модуля Maintenances
Maintenance=On
#
# Разрешить работу модуля Git-Status. Укажите полный путь к git.exe
#gitExec=C:\cygwin\bin\git.exe
